<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <title>Annotations Output</title>
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="{% static "css/app.css"%}">
</head>
<body>
  <ul class="nav nav-pills">
    <li class="active"><a href="/">Home</a></li>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Annotations <b class="caret"></b></a>
      <ul class="dropdown-menu" id="menu1">
        <li>
          <a href="#">Detection <i class="icon-arrow-right"></i></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="#">Text Detection</a></li>
            <li><a href="#">Label Detection</a></li>
            <li><a href="#">Logo Detection</a></li>
            <li class="divider"></li>
            <li class="nav-header">Vision API</li>
            <li><a href="#">Documentations</a></li>
            <li><a href="#">Sample</a></li>
          </ul>
        </li>
        <li><a href="#">Segmentation</a></li>
        <li><a href="#">Separation</a></li>
        <li class="divider"></li>
        <li><a href="#">Documentation</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#">Help</a>
    </li>
  </ul>
  <div class="container"><h2>Annotations</h2></div>
  {% if annlist%}
  <div class="container">
    <ul class="nav nav-tabs">
      {% for annlist_dict in annlist %}
      {% if forloop.counter == 1 %}
      <li class="active">
      {% else %}
      <li>
      {% endif %}
        <a  href="#{{forloop.counter}}" data-toggle="tab">Images {{forloop.counter}}</a>
      </li>
      {% endfor %}
    </ul>
    <div class="tab-content ">
      {% for annlist_dict in annlist %}
      {% for level, ann in annlist_dict.items %}
      {% if forloop.parentloop.counter == 1 %}
      <div class="tab-pane active" id="{{forloop.parentloop.counter}}">
      {% else %}
      <div class="tab-pane" id="{{forloop.parentloop.counter}}">
      {% endif %}
      <div class="row">
        <div class="span5">
        </ul>
        {% if ann.faces%}
        <ul class="w3-ul w3-border"><li><h2>Face Detection</h2></li>
          {% for face in ann.faces %}
          <li>{{face.joy}}</li>
          <li>{{face.sorrow}}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if ann.labels%}
        <ul class="w3-ul w3-border"><li><h2>Label Detection</h2></li>
          {% for label in ann.labels %}
          <li>{{label.description}}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if ann.texts%}
        <ul class="w3-ul w3-border"><li><h2>Text Detection</h2></li>
          {% for text in ann.texts %}
          <li>{{text.description}}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if ann.pro%}
        <ul class="w3-ul w3-border"><li><h2>Color Detection (Properties)</h2></li>
          <li>{{ann.pro.colors}} = {{ann.pro.colors.score}}</li>
        </ul>
        {% endif %}
        {% if ann.landmarks%}
        <ul class="w3-ul w3-border"><li><h2>Landmark Detection</h2></li>
          {% for landmark in ann.landmarks %}
          <li>{{landmark.description}}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if ann.logos%}
        <ul class="w3-ul w3-border"><li><h2>Logo Detection</h2></li>
          {% for logo in ann.logos %}
          <li>{{logo.description}}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if ann.safe_searches%}
        <ul class="w3-ul w3-border"><li><h2>Safe Search Detection</h2></li>
          <li>{{ann.safe_searches.violence}}</li>
        </ul>
        {% endif %}
        </div>
        <div class="span7">
          <ul class="w3-ul w3-border"><li>
            <img src="{{ann.img}}" alt="{{ann.img}}">
            </li>
        </div>
      </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
