<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
  <ul>
    {% for face in faces %}
      <li>{{face.joy}}</li>
      <li>{{face.sorrow}}</li>
    {% endfor %}
  </ul>
  <p>-------------------------------------------------------------------------------------------</p>
  <ul>
    {% for label in labels %}
      <li>{{label.description}}</li>
    {% endfor %}
  </ul>
  <p>-------------------------------------------------------------------------------------------</p>
  <ul>
    {% for text in texts %}
      <li>{{text.description}}</li>
    {% endfor %}
  </ul>
  <p>-------------------------------------------------------------------------------------------</p>
  <ul>
      <li>{{pro.colors}}</li>
  </ul>
  <p>-------------------------------------------------------------------------------------------</p>
  <ul>
    {% for landmark in landmarks %}
      <li>{{landmark.description}}</li>
    {% endfor %}
  </ul>
  <p>-------------------------------------------------------------------------------------------</p>
  <ul>
    {% for logo in logos %}
      <li>{{logo.description}}</li>
    {% endfor %}
  </ul>
  <p>-------------------------------------------------------------------------------------------</p>
  <ul>
      <li>{{safe_searches.violence}}</li>
  </ul>
  <p>-------------------------------------------------------------------------------------------</p>
  </body>
</html>
